.conf-textarea {
    height: 200px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.upload {
    margin-bottom: 20px;
}

.conf-button {
    margin-top: 20px;
}

.login-input1 {
    margin-top: 20px;
    margin-left: 19px;
}

.login-input2 {
    margin-top: 20px;
    margin-left: 10px;
}

.conf-table {
    text-align: center;
}

.label {
    padding-right: 30px;
}

.conf-cont {
    text-align:justify;
    padding-bottom: 20px;
}

.last {
    overflow:auto;
    display:block;
}
input {
    float:left;
}

.inner-button {
    padding-right: 20px;
}